@model EmployeeManagement.Models.Employee


@{

    ViewBag.Title = "Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}


@*@{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }*@
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>

            <div class="card-body text-center">
                <img asp-append-version="true" class="card-img-top" src=@photoPath />

                <h4>Employee ID : @Model.Id</h4>
                <h4>Email : @Model.Email</h4>
                <h4>Department : @Model.Department</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" class="btn btn-primary">Back</a>
                <a  asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
