@model IEnumerable<EmployeeManagement.Models.Employee>
@{

    ViewBag.Title= "Index";

}


<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imageThumnail" asp-append-version="true" src=@photoPath  />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary  m-1">View</a>
               @*<a href="/Home/details/@employee.Id">View</a>*@
                <a  asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary  m-1">Edit</a>
                <a href="#" class="btn btn-danger  m-1">Delete</a>
            </div>
        </div>
    }
</div>
@*<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
            </tr>
        }

    </tbody>
</table>*@
